.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    padding: 100px 0;
  }

  &__input {
    background-color: aliceblue;
    color: teal;
    border: none;

    &-button {
      color: #fff;
      background-color: teal;
      border-radius: 5px;
      border: 1px solid #fff;

      &:hover {
        border: 1px solid teal;
        cursor: pointer;
      }
    }

    &-svg {
      color: teal;
      height: auto;
      width: 20px;
    }

    &-wrapper {
      border: 2px solid rgb(212, 234, 253);
      display: flex;
      background-color: aliceblue;
      border-radius: 5px;
    }
    &:focus {
      outline: none;
      caret-color: cyan;
    }
    &::placeholder {
      color: teal;
      opacity: 0.3;
    }
  }

  &__cards {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    background-color: rgba(133, 94, 66, 0.2);
  }
}

.section-hero__cards:hover .card__wrapper {
  opacity: 0.25;
}
.section-hero__cards .card__wrapper:hover {
  opacity: 1;
}
