.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    padding: 100px 0;
  }

  &__input {
    background-color: aliceblue;
    color: teal;
    border: none;

    &-button {
      color: #fff;
      background-color: rgb(28, 37, 65);
      border-radius: 5px;
      border: 1px solid #fff;

      &:hover {
        border: 1px solid rgb(28, 37, 65);
        cursor: pointer;
      }
    }

    &-svg {
      color: rgb(55, 39, 114);
      height: auto;
      width: 20px;
    }

    &-wrapper {
      border: 2px solid rgb(212, 234, 253);
      display: flex;
      background-color: aliceblue;
      border-radius: 5px;
    }
    &:focus {
      outline: none;
      caret-color: cyan;
    }
    &::placeholder {
      color: teal;
      opacity: 0.3;
    }
  }

  &__cards {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
    background-color: rgba(133, 94, 66, 0.2);
    gap: 10px;
    padding-left: 10px;

    &::-webkit-scrollbar {
      width: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(28, 37, 65);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(58, 80, 107, 0.5);
      border-radius: 10px;
    }

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgb(28, 37, 65) rgba(58, 80, 107, 0.5);
  }
}

.section-hero__cards:hover .card__wrapper {
  opacity: 0.25;
}
.section-hero__cards .card__wrapper:hover {
  opacity: 1;
}
