.card {
  color: black;
  margin: 0;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(23% - 10px);
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
}
