.card {
  color: black;
  margin: 0;
  width: 100%;

  &__wrapper {
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    background-size: 100% auto;
    background-image: url(../../assets/random-exercise.png);
    background-repeat: no-repeat;
    background-position: top;
    transition: all 0.8s ease-in-out;
    height: 25vh;
    &:hover {
      flex: 5;
      cursor: pointer;
    }
  }
}
