.section-navigation {
  color: #0b132b;
  display: flex;
  justify-content: space-between;
  background-color: #fcb97d;
  border-radius: 15px;
  padding: 15px;

  &__logo {
    display: flex;
    color: #0b132b;

    &:hover {
      text-shadow: 2px 2px 2px #fff;
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  &__option {
    &:hover {
      cursor: pointer;
      color: #fff;
    }
  }
}
