.section-navigation {
  color: teal;
  display: flex;
  justify-content: space-between;
  background-color: #87c29b;
  padding: 15px;

  &__logo {
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  &__option {
    &:hover {
      cursor: pointer;
      color: cyan;
    }
  }
}
